.create-container {
  height: 90vh;
  background: #e8f3ff;
  display: flex;
  font-family: "Inter", sans-serif;
}

/* Left Side */
.left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-box {
  width: 350px;
  padding: 35px;
  /* background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
}

.title {
  text-align: center;
  color: #1c75bc;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.create-acc-form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  margin-top: 6px;
  margin-bottom: 14px;
}

.create-acc-form input:focus {
  outline: none;
  border-color: #1c75bc;
}

.create-btn {
  width: 375px;
  background: #1c75bc;
  padding: 12px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.create-btn:hover {
  background: #155a8a;
}

.create-acc-login-btn {
  width: 375px;
  background: #16a34a;
  padding: 12px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.create-acc-login-btn:hover {
  background: #0f7a36;
}

.msg-success {
  text-align: center;
  color: green;
  font-weight: 600;
}

.msg-error {
  text-align: center;
  color: red;
  font-weight: 600;
}

/* Right Side */
.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-img {
  width: 500px;
  max-width: 90%;
  object-fit: contain;
}
