.login-container {
  height: 90vh;
  background: #e8f3ff;
  display: flex;
  font-family: "Inter", sans-serif;
}

.left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  padding: 40px;
  width: 350px;
}

.title {
  text-align: center;
  color: #1c75bc;
  font-size: 24px;
  font-weight: 700;
}

.subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
}

.login-form input:focus {
  outline: none;
  border-color: #1c75bc;
}

.login-btn {
  width: 375px;
  background: #1c75bc;
  border: none;
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
  color: white;
  cursor: pointer;
}

.login-btn:hover {
  background: #155a8a;
}

.footer-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.right-side {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.login-image {
  width: 100%;
  max-width: 550px;
  height: auto;
  object-fit: contain;
}

.error-text {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}